# TELEGRAM BOT
BOT_TOKEN="8915982994:AAFgcyQxkFxm2uuZdIj8-lT9TAioRURxt28"
ADMIN_ID=6948223275

# DATABASE
DB_USER=kino_user
DB_PASSWORD=kino_password_123
DB_NAME=kino_bot
DB_HOST=localhost
DB_PORT=5432

# REDIS
REDIS_URL=redis://localhost:6379

# LOGGING
LOG_LEVEL=INFO
